<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>History API</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

  <main>
    <ul>
      <li><a class="img-thumbnail-link" href="/skywalker"><img src="/img/skywalker.jpg" /></a></li>
      <li><a class="img-thumbnail-link" href="/obi-wan"><img src="/img/obi-wan.jpg" /></a></li>
      <li><a class="img-thumbnail-link" href="/leia"><img src="/img/leia.jpg" /></a></li>
      <li><a class="img-thumbnail-link" href="/yoda"><img src="/img/yoda.jpg" /></a></li>
    </ul>
    <h1>Star Wars &ndash; Rebels</h1>
    <h2></h2>
    <p></p>
    <a class="hidden rebel-source" href="">Source: Wookieepedia</a>
  </main>

<script type="text/javascript" src="/main.js"></script>
</body>
</html>